<%= stylesheet_link_tag 'signup'%>
<div class="signup">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
  <h2>Sign up</h2>
  </div>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@email.com" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password ( minimum six characters )"%>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  <div class="link">
  <%- if controller_name != 'sessions' %>
  <span>If have account,please <%= link_to "Log in", new_session_path(resource_name) %><br /></span>
<% end %>
</div>
<% end %>

</div>