<h1>Dashboard</h1>
<div class="dashboard row">
    <div class="col-3 p-0">
        <div class="p-4 row block" style="background-color: #68B828">
            <i class="far fa-user icon col-3"></i>
            <div class="col">
                <div class="num"><%= @total_users %></div>
                <span>TOTAL USERS</span>
            </div>
            <hr/>
            <small><%= @new_users %> NEW USERS TODAY</small>
        </div>

        <div class="p-4 row block" style="background-color: #00B19D">
            <i class="fas fa-user-tag icon col-3"></i>
            <div class="col">
                <div class="num"><%= @total_authors %></div>
                <span>TOTAL AUTHORS</span>
            </div>
            <hr/>
            <span><%= @new_authors %> NEW AUTHORS TODAY</span>
        </div>

        <div class="p-4 row block" style="background-color: #008080">
            <i class="fa fa-shopping-cart col-3"  style="font-size:36px"></i>
            <div class="col">
                <div class="num"><%= @total_borrows %></div>
                <span>TOTAL BORROWS</span>
            </div>
            <hr/>
            <span><%= @borrow_in_day %> NEW BORROWS TODAY</span>
        </div>
        <div class="p-4 row block" style="background-color: #6A5ACD">
            <i class="fas fa-balance-scale col-3" style="font-size:36px"></i>
            <div class="col">
                <div class="num"><%= @return_in_day %></div>
                <span>TOTAL RETURNS IN DAY</span>
            </div>
            <hr/>
            <span><%= @total_proceeds_in_day %> (VND) - TOTAL PROCEEDS IN DAY</span>
        </div>
    </div>
    <div class="col-3 p-0">
        <div class="p-4 row block text-center" style="background-color: #778899">
            <i class="fas fa-book large-icon col-12"></i>
            <div class="col">
                <div class="large-num"><%= @total_books %></div>
                <span>TOTAL BOOK</span>
            </div>
            <hr/>
            <span><%= @new_books %> NEW BOOKS TODAY</span>
        </div>
        <div class="p-4 row block text-center" style="background-color: #CC3F44;height:347px">
            <i class="fa fa-book large-icon col-12"></i>
            <div class="col">
                <div class="large-num"><%= @exist_quantity_book %></div>
                <span>EXIST QUANTITY OF BOOKS</span>
            </div>
            <hr/>
            <span><%= @warning_quantity_book %> BOOKS NEED TO SUPPLY </span>
        </div>
    </div>
    <div class="col-3 p-0">
        <div class="p-4 row block" style="background-color: #7C38BC">
            <i class="fas fa-upload icon col-3"></i>
            <div class="col">
                <div class="num"><%= @total_publishers %></div>
                <span>TOTAL PUBLISHERS</span>
            </div>
            <hr/>
            <span><%= @new_publishers %> NEW PUBLISHERS TODAY</span>
        </div>

        <div class="p-4 row block text-center" style="background-color: #55ACEE;height:514px">
            <h2>New books</h2>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <% @books_list.each_with_index do |book, index| %>
                        <div class="carousel-item <%= "active" if index == 0%>">
                            <%= image_tag book.image, class: "d-block w-100"%>
                        </div>
                    <% end %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-3 p-0">
        <div class="p-4 row block" style="background-color: #F7AA47">
            <i class="fas fa-list icon col-3"></i>
            <div class="col">
                <div class="num"><%= @total_categories %></div>
                <span>TOTAL CATEGORIES</span>
            </div>
            <hr/>
            <span><%= @new_categories %> NEW CATEGORIES TODAY</span>
        </div>
         <div class="p-4 row block text-center" style="background-color: #9400D3;height:514px">
            <h2>New authors</h2>
            <div id="carouselControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <% @authors_list.each_with_index do |author, index| %>
                        <div class="carousel-item <%= "active" if index == 0%>">
                            <%if author.image.present?%>
                            <%= image_tag author.image, class: "d-block w-100"%>
                            <%end%>
                        </div>
                    <% end %>
                </div>
                <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <canvas id="myChart" style="width:100%"></canvas>
    <div class="row">
    <div class="col"><canvas id="topUser" style="width:100%"></canvas></div>
    <div class="col"><canvas id="topAuthor" style="width:100%"></canvas></div>
    </div>
    <div class="row">
    <div class="col"><canvas id="topBook" style="width:100%"></canvas></div>
    <div class="col"><canvas id="newUser" style="width:100%"></canvas></div>
    </div>

</div>
<script>
// chart borrows in per month
var xValues = ["January", "February", "March", "April", "May","June","July","August","September","October","November","December"];
var yValues = <%=@borrows_per_month%>;
var colorBar = ['aqua','blue','crimson','gold','green','indigo','moccasin','orchid','peru','pink','tomato','olive']
new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: colorBar,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Total borrows in per month"
    }
  }
});
// chart top user in last month
var xUser = [];
var yUser = [];
<%@top_users.each do |k,v|%>
    xUser.push("<%=User.find(k).email.split("@")[0]%>");
    yUser.push("<%=v%>");
<%end%>
new Chart("topUser",{
    type: "bar",
  data: {
    labels: xUser,
    datasets: [{
      backgroundColor: colorBar,
      data: yUser
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Top user in last month"
    }
  }
});
// chart top author in month
var xAuthor = [];
var yAuthor = [];
<%@top_authors.each do |k,v|%>
    xAuthor.push("<%=Author.find(k).author_name%>");
    yAuthor.push("<%=v%>");
<%end%>
new Chart("topAuthor",{
    type: "bar",
    data: {
    labels: xAuthor,
    datasets: [{
      backgroundColor: colorBar,
      data: yAuthor
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Top author in last month"
    }
  }
});

//chart top book in month
var xBook = [];
var yBook = [];
<%@top_books.each do |k,v|%>
    xBook.push("<%=Book.find(k).name%>");
    yBook.push("<%=v%>");
<%end%>
new Chart("topBook",{
    type: "bar",
    data: {
    labels: xBook,
    datasets: [{
      backgroundColor: colorBar,
      data: yBook
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Top book in last month"
    }
  }
});

// new user in per month
var xnewUser = ["January", "February", "March", "April", "May","June","July","August","September","October","November","December"];
var ynewUser = <%=@user_per_month%>;
new Chart("newUser",{
    type: "bar",
    data: {
    labels: xnewUser,
    datasets: [{
      backgroundColor: colorBar,
      data: ynewUser
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "New user in per month"
    }
  }
});
</script>