<h1>Authors</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'Authors',admin_authors_path,class:"nav-link"%>
  </li>
  <li class="nav-item">
     <%= link_to 'New author',new_admin_author_path,class:"nav-link"%>
  </li>
</ul>
<div class="p-4 bg-light">
    <%= form_tag admin_authors_path, method: 'get', class:"input-group" do %>
        <input class="form-control input-small" name="search" placeholder="Search" type="search">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">
            Search
            </button>
        </span>
    <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Author</th>
      <th scope="col">Birthday</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <th scope="row"><%= author.id %></th>
        <td><%= author.author_name %></td>
        <td><%= author.birthday%></td>
        <td class="px-5" style="text-align: right">
          <a href="/admin/authors/<%=author.id%>"><i class="fas fa-info-circle"></i></a>
          <a href="/admin/authors/<%=author.id%>/edit"><i class="far fa-edit"></i></a>
          <a href="/admin/authors/<%=author.id%>" data-method="delete"><i class="fas fa-trash-alt"></i></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="page">
  <%= will_paginate @author%>
</div>