<p id="notice"><%= notice %></p>

<h1 class="d-flex justify-content-center alert alert-primary" role="alert">Notifications</h1>

<div class="list-group ">
  <% @notifications.each do |notification| %>
  <div  class="list-group-item "n>
    <small>
       <%=notification.created_at.to_formatted_s(:db)%>
    </small>
  
      <%if notification.seen == false%>
        <%= link_to notification.message, notification, class:"list-group-item-action font-weight-bold" %>
      <% else %>
        <%= link_to notification.message, notification, class:"list-group-item-action"%>
      <% end %>
  </div>
  
  <% end %>

</div>
    <%= will_paginate @books%>
    
<br>


