<%= stylesheet_link_tag 'author_page'%>
<div class="container">
<%= form_tag(authors_path, :method => "get") do%>
			<%= collection_select params[:name],:author_name, Author.all, :author_name, :author_name, prompt: 'Select author', :selected => params[:author_name]%>
			<%= submit_tag "Select", class:"btn btn-primary"%>
<%end%>	
<%=link_to '<i class="fas fa-long-arrow-alt-left"> Back</i> '.html_safe, :back, class:"btn btn-primary",style: "margin-left:17px"%>
<div class="row">
<%@authors.each do |author|%>
<div class="col-4">
<div class="card" style="width: 18rem;margin:20px">
  <a href="/authors/<%=author.id%>">
  <%if author.image.present?%>
    <img src="<%= url_for(author.image)%>" class="card-img-top">
  <%else%>
  <img src="https://cdn2.iconfinder.com/data/icons/4web-3/139/header-account-image-line-512.png" class="card-img-top">
  <%end%>
  </a>
  <div class="card-body">
    <a href="authors/<%=author.id%>"><h5 class="card-title"><%= author.author_name%></h5></a>
  </div>
</div>
</div>
<%end%>
</div>
<%= will_paginate @authors%>
</div>