<div class="container">
<h1>Authors</h1>
<select id="dropdown1">
  <option value="0,asc">Author : A-Z</option>
  <option value="0,desc">Author : Z-A</option>
</select>
<table id="author" class="table">
  <thead>
    <tr>
      <th>Author</th>
      <th>Birthday</th>
      <th>Books</th>
      <th>Show</th>
      <% if user_signed_in?%>
      <th>Edit</th>
      <th>Delete</th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.author_name %></td>
        <td><%= author.birthday %></td>
        <td>
           <% author.author_books.each do  |author_book|%>
           <li>
           <%= author_book.book.name%>
           </li>
           <%end%>
        </td>
        <td><%= link_to 'Show', author %></td>
        <%if user_signed_in?%>
        <td><%= link_to 'Edit', edit_author_path(author) %></td>
        <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%if user_signed_in?%>
<%= link_to 'New Author', new_author_path %>
<%end%>
</div>
<script type="text/javascript">
 var table = $('#author').DataTable({"bLengthChange": false});

$('#dropdown1').on('change', function () {
        table.order([(this.value).split(",")]).draw();
});
</script>