<%= stylesheet_link_tag 'header'%>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <%=link_to 'Library',root_path,class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <%= form_tag(books_path, :method => "get" ) do%>
      <%= text_field_tag :search, params[:search], placeholder: "Search",:style => "width:550px;height:40px" %>
      <%= button_tag type: 'submit', class: "btn btn-info" do %>
         <i class="fa fa-search"></i>
      <% end %>
      <% end %>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%=link_to 'Books',books_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to 'Authors',authors_path, class:"nav-link"%>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <%Category.all.each do |category|%>
            <%= link_to "#{category.name}", "/categories/#{category.id}",class:"dropdown-item", style:"color:blue"%>
            <%end%>
          </ul>
        </li>
        <%if user_signed_in?%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Personal
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item notification" style="color:blue" href="/notifications"><i class="fa fa-bell"></i> Notifications <span class="badge"><%=Notification.count_notice_user(current_user.id) unless Notification.count_notice_user(current_user.id).zero?  %></span></a></li>
            <%=link_to '<i class="fa fa-tasks"></i> Activitys'.html_safe,borrows_path, class:"dropdown-item", style:"color:blue"%>
             <%=link_to '<i class="fa fa-sign-out"></i> Log out'.html_safe,"/users/sign_out",method: :delete, class:"dropdown-item", style:"color:blue"%>
          </ul>
        </li>
        <%else%>
        <li class="nav-item">
          <%= link_to 'Sign in',new_user_session_path,class:"nav-link"%>
        </li>
        <li class="nav-item">
        <%= link_to 'Sign up',new_user_registration_path,class:"nav-link"%>
        </li>
        <%end%>
      </ul>
      </div>
    </div>
  </div>
</nav>

<header>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url('https://wallpaperaccess.com/full/124383.jpg')">
        <div class="carousel-caption" style="color:cyan">
          <h1>Digital Library</h1>
          <h3>Let's use our service and we will bring everything to you!</h3>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://i.pinimg.com/originals/d8/2d/72/d82d72723724a47fab10c90da326c295.jpg')">
        <div class="carousel-caption" style="color:cyan">
         <h1>Variety of books</h1>
          <h3>We have all the books you need!Let's see it!</h3>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://1.bp.blogspot.com/-_M_C9G0tdiE/Xnc1nT7abEI/AAAAAAAAEy8/t956U8Xwy5sOsSv68z8pgeQnJ7BxTXyCQCLcBGAsYHQ/w1200-h630-p-k-no-nu/Anime%2BLibrary%2BBackground%2B1.png')">
        <div class="carousel-caption">
          <h1>Convienient</h1>
          <h3>Just by click and you can find all you need</h3>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>
