<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Home',root_path,class:"navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Books',books_path,class:"nav-link"%>
      </li>
        <li class="nav-item">
        <%= link_to 'Authors',authors_path,class:"nav-link"%>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% Category.all.each do |category|%>
          <%= link_to "#{category.name}", "/categories/#{category.id}", class:"dropdown-item"%>
          <%end%>
        </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          NXB
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% Publisher.all.each do |publisher|%>
          <%= link_to "#{publisher.publisher_name}", "/publishers/#{publisher.id}", class:"dropdown-item"%>
          <%end%>
        </div>
      </li>
      <%if user_signed_in?%>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Settings',edit_user_registration_path,class:"dropdown-item"%>
          <%= link_to 'Log out',destroy_user_session_path,method: :delete,class:"dropdown-item"%>
        </div>
      </li>
      <%else%>
      <li class="nav-item">
        <%= link_to 'Sign in',new_user_session_path,class:"nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign up',new_user_registration_path,class:"nav-link"%>
      </li>
      <%end%>
      <li class="nav-item">
        <%= link_to 'About us',about_path,class:"nav-link"%>
      </li>
    </ul>
  </div>
    <%= form_tag(books_path, :method => "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search book" %>
    <%= submit_tag "Search",class:"btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
</nav>