<%= form_for book do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description ,class:"form-control"%>
  </div>
  <div class="field form-group">
    <%= form.label :category%>
    <%= form.collection_select :category_id, Category.all, :id, :name%>
  </div>
 <div class="authorbooks">
  <%= form.fields_for :author_books do |author_books_form| %>
    <%= render 'author_book_fields',form: author_books_form%>
    <% end %>
     <div class="links">
  <%= link_to_add_association 'add author', form, :author_books, wrap_object: Proc.new { |author_book| author_book.build_author; author_book },form_name: 'form' %>
  </div>
  </div>
  <div class="field form-group">
    <%= form.label :published_date %>
    <%= form.date_field :published_date,class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :publisher %>
    <%= form.text_field :publisher,class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :borrow_fee %>
    <%= form.text_field :borrow_fee ,class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :quantity %>
    <%= form.number_field :quantity ,class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :quantity_in_stock %>
    <%= form.number_field :quantity_in_stock ,class:"form-control"%>
  </div>
  <div class="field">
    <%= form.label :image%>
    <%= form.file_field :image%>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>
