<%= stylesheet_link_tag 'book'%>
        <div id="mygrid" class="card">
            <div class="row">
             
                    Sort by: 
                    <button class="btn btn-primary sort" data-sort="name">name</button>
                    <button class="btn btn-primary sort" data-sort="city">city</button>
                    <button class="btn btn-primary sort" data-sort="ext">extension</button>
                    <button class="btn btn-primary sort" data-sort="date">start date</button>
            </div>
            <div class="list row"></div>
                <div class="pagination"></div>

        </div>
        <div style="display: none">
            <div id="mygriditem" class="col-md-4">
                <div class="card ">
                    <img class="image card-img-top" src="" height="350">
                    <div class="card-body">
                        <h5 class="name"></h5>
                        <small class="city text-muted"></strong>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <div class="ext"></div>
                        <div class="date"></div>
                    </div>
                </div>
            </div>
        </div>
    
<script>
const data = [
   <% Book.all.each do |book|%>
   <%if book == @books[-1]%>
    {
      name: " <%= book.name%> " ,
      date : "<%= book.published_date%>",
      image: "<%= url_for(book.image)%>"
  }
   <%else%>
  {
      name: " <%= book.name%> " ,
      date : "<%= book.published_date%>",
      image: "<%= url_for(book.image)%>"
  },
  <%end%>
  <%end%>
]

new List('mygrid', {
            valueNames: ['name','date',{ attr: 'src', name: 'image' }],
            item: 'mygriditem',
            page: 5,
            pagination: true
        }, data);
</script>
