<section class="dark">
	<div class="container py-4">
        <div id="mygrid">
        <div class="col">
                    Sort by: 
                    <button class="btn btn-primary sort" data-sort="name">name</button>
                    <button class="btn btn-primary sort" data-sort="date">date</button>
        </div>
             <div class="list row"></div>
                <div class="pagination"></div>
        </div>
        <div style="display: none">
        <div id="mygriditem">
		<article class="postcard dark blue">
			<a class="link postcard__img_link" href="#">
				<img class="image postcard__img" src="" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="name postcard__title blue"></h1>
				<div class="postcard__subtitle small">

					<time datetime="2020-05-25 12:00:00">
						<i class="date fas fa-calendar-alt mr-2"></i>
					</time>
                    <br><i class="fee fas fa-comments-dollar"></i>
                    <%# <span class="star"><i class="star fa fa-star checked" style="color:yellow"></i></span> %>
				</div>
				<div class="postcard__bar"></div>
				<div class="description postcard__preview-txt"></div>
				<ul class="postcard__tagbox">
					<li class="tag__item play blue">
						<a class="authorlink" href="#"><i class="fas fa-tag"> <span class="author"></span></i></a>
					</li>
					<li class="tag__item play blue">
						<a class="catelink" href="#"><i class="category fas fa-tag"></i></a>
					</li>
                    <li class="tag__item play blue">
						<a class="publink" href="#"><i class="publisher fas fa-tag"></i></a>
					</li>
				</ul>
			</div>
		</article>
        </div>
        </div>
    </div>
</section>
<script>
const data = [
   <% @books.each do |book|%>
   <%book.author_books.each do |authors|%>
   <%if book == @books[-1]%>
    {
      name: " <%= book.name%> " ,
      date : "<%= book.published_date%>",
      image: "<%= url_for(book.image)%>",
      link: "books/<%= book.id%>",
      description: "<%= book.description%>",
      authorlink: "/authors/<%=authors.author.id%>",
      author: "<%= authors.author.author_name%>",
      category: "<%= Category.find(book.category_id) if book.category_id%>",
      publisher: "<%= Publisher.find(book.publisher_id) if book.publisher_id%>",
      catelink: "/categories/<%=book.category_id%>",
      publink: "/publishers/<%=book.publisher_id%>",
    //   star: "<%= book.rating%>",
      fee: "<%= book.borrow_fee%>"
    
  }
   <%else%>
  {
      name: " <%= book.name%> " ,
      date : "<%= book.published_date%>",
      image: "<%= url_for(book.image)%>",
      link: "books/<%= book.id%>",
      description: "<%= book.description%>",
      authorlink: "/authors/<%=authors.author.id%>",
      author: "<%= authors.author.author_name%>",
      category: "<%= Category.find(book.category_id).name if book.category_id%>",
      publisher: "<%= Publisher.find(book.publisher_id).publisher_name if book.publisher_id%>",
      catelink: "/categories/<%=book.category_id%>",
      publink: "/publishers/<%=book.publisher_id%>",
    //   star: "<%= book.rating%>",
      fee: "<%= book.borrow_fee%>"

  },
  <%end%>
  <%end%>
  <%end%>
]

new List('mygrid', {
            valueNames: ['name',
            'date',
            { name: 'image', attr: 'src' },
            { name: 'link', attr: 'href' },
            'description',
            { name: 'authorlink', attr: 'href'},
            'author',
            'category',
            'publisher',
            { name: 'catelink', attr: 'href'},
            { name: 'publink', attr: 'href'},
            'fee',   
            { name: 'borrow', attr: 'action'}],
            item: 'mygriditem',
            page: 6,
            pagination: true
        }, data);
</script>
