<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>
<p>
  <strong>Category:</strong>
  <%= Category.find(@book.category_id).name if @book.category_id %>
</p>
<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Published date:</strong>
  <%= @book.published_date %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= Publisher.find(@book.publisher_id).publisher_name if @book.publisher_id %>
</p>

<p>
  <strong>Borrow fee:</strong>
  <%= @book.borrow_fee %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @book.quantity %>
</p>

<p>
  <strong>Quantity in stock:</strong>
  <%= @book.quantity_in_stock %>
</p>
<p>
  <strong>Authors:</strong>
  <% @book.author_books.each do |author_book| %>
    <li>
      <%= author_book.author.author_name %>
    </li>
  <% end %>
</p>
  <%= image_tag(@book.image) if @book.image.present?%>
</p>
 <%= form_for ([@book, @book.borrows.build]) do |f|%>
    <%= f.hidden_field :status, value: "waiting accept"%>
    <%if user_signed_in?%>
                  <% if current_user.borrows.where( {book_id: book.id, status: ["waiting accept", "accept"]}).exists?  %>
                    <%= f.submit "Borrow",class:"btn btn-success", :disabled => true%>
                  <% else %>
                      <%= f.submit "Borrow",class:"btn btn-success",  data: { confirm: "Are you sure to borrow #{book.name} book "}%>
                  <%end%>
    <%else%>
        <%= f.submit "Borrow",class:"btn btn-success"%>
    <% end %>
<%end%>
<h2>Rating :
  <%if @book.rating.present?%> 
    <% @book.rating.times do%>
      <i class="fa fa-star checked" style="color:yellow"></i>
    <%end%>    
  <%end%>         
</h2>
<br><%= render @book.reviews%>
<%if user_signed_in?%>
<%if Borrow.where(user_id: current_user.id, book_id: @book.id).present?%>
    <%= render "reviews/form"%>
<%end%>
<%end%>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_book_path(@book) %> |
<%end%>
<%= link_to 'Back', books_path %>
