<h1>Publisher <%=@publisher.publisher_name%></h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/admin/publishers/<%=@publisher.id%>"><i class="fas fa-info-circle"></i> Show</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/publishers/<%=@publisher.id%>/edit"><i class="far fa-edit"></i> Edit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/publishers/<%=@publisher.id%>" data-method="delete"><i class="fas fa-trash-alt"></i> Delete</a>
    </li>
</ul>
<dt>
    <span class="label label-info">
       Publisher
    </span>
    <%books = @publisher.books.paginate(:page => params[:page], :per_page => 10)%>
    <div class="p-4 bg-light">
        <% books.each do |book|%>
        <li>
            <%= link_to "#{book.name}", "/admin/books/#{book.id}"%>
        </li>
        <%end%>
    </div>
    <%= will_paginate books%>
</dt>