<h1>Category <%=@category.name%></h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/admin/categories/<%=@category.id%>"><i class="fas fa-info-circle"></i> Show</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/categories/<%=@category.id%>/edit"><i class="far fa-edit"></i> Edit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/categories/<%=@category.id%>" data-method="delete"><i class="fas fa-trash-alt"></i> Delete</a>
    </li>
</ul>
<dt>
    <span class="label label-info">
        Category
    </span>
    <div class="p-4 bg-light">
        <% @category.books.each do |book|%>
        <li>
            <%= link_to "#{book.name}", "/admin/books/#{book.id}"%>
        </li>
        <%end%>
    </div>
</dt>