<div class="left-nav">
    <div class="admin-nav <%= active_class("admin/dashboard") %>"><a href="/admin/dashboard"><i class="fas fa-chart-line mx-4"></i>Dashboard</a></div>
    <div class="admin-nav <%= active_class("admin/user") %>"><a href="/admin/users"><i class="fas fa-users mx-4"></i>Users</a></div>
    <div class="admin-nav <%= active_class("admin/book") %>"><a href="/admin/books"><i class="fas fa-book mx-4"></i> Books</a></div>
    <div class="admin-nav <%= active_class("admin/author") %>"><a href="/admin/authors"><i class="fas fa-user-tag mx-4"></i>Authors</a></div>
    <div class="admin-nav <%= active_class("admin/categor") %>"><a href="/admin/categories"><i class="fas fa-list mx-4"></i>Categories</a></div>
    <div class="admin-nav <%= active_class("admin/publisher") %>"><a href="/admin/publishers"><i class="fas fa-upload mx-4"></i>Publishers</a></div>
    <div class="admin-nav <%= active_class("admin/borrow")%>"><a href="/admin/borrows"><i class="fas fa-book-open mx-4"></i>Borrows</a></div>
    <div class="admin-nav red"><a href="/users/sign_out" data-method="delete"><i class="fas fa-sign-out-alt mx-4"></i>Sign out</a></div>
</div>
