<div class="row m-5">
    <%= form_for [:admin, @user] do |form| %>
        <div class="form-group ">
            <label for="floatingInput">Địa chỉ email</label>
            <%= form.email_field :email, class:"form-control",placeholder: "example@email.com", id:"floatingInput" %>
        </div>
        <div class="form-group">
            <label for="floatingPassword">Mật khẩu</label>
            <%= form.password_field :password, class:"form-control", placeholder: "password", id:"floatingPassword" %>
        </div>
        <div class="form-group">
            <label for="floatingPasswordc">Xác nhận mật khẩu</label>
            <%= form.password_field :password_confirmation, class:"form-control", placeholder: "confirm password", id:"floatingPasswordc" %>
        </div>
        <div class="actions">
            <%= form.submit "Create staff", class:"btn btn-primary"%>
        </div>
    <% end %>
</div>