<div class="container">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/borrows"><i class="fas fa-history"></i> All history</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/showborrow"><i class="fas fa-book-reader"></i> Borrowing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/showreturn"><i class="fas fa-exchange-alt"></i> Returned</a>
  </li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th>Book</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borrows.each do |borrow| %>
       
      <tr>
        <td><%= borrow.book.name %></td>
        <td><%= borrow.user.email %></td>
        <td><%= borrow.status %></td>
        <td><%=link_to '<i class="fa fa-trash"></i> '.html_safe, borrow, method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @borrows%>
</div>
