<div class="container">
<h1>Borrows</h1>

<table class="table">
  <thead>
    <tr>
      <th>Book</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borrows.each do |borrow| %>
       
      <tr>
        <td><%= borrow.book.name %></td>
        <td><%= borrow.user.email %></td>
        <td><%= borrow.status %></td>
        <td><%= link_to 'Show', borrow %></td>
        <% if @current_user.role == "user" %>
           <td><%= link_to 'Destroy', borrow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        
        <% if @current_user.role == "staff" %>
          <%if borrow.status.include? "waiting accept"%>
            <td>
                <%= form_for borrow do |f| %>
                  <%= f.hidden_field :status, value: "accept"%>
                  <%= f.submit "accept",class:"btn btn-success"%>
                <%end%>
            </td>
            <td>
                <%= form_for borrow do |f| %>
                  <%= f.hidden_field :status,value: "cancel"%>
                  <%= f.submit "cancel",class:"btn btn-danger"%>
                <%end%>
            </td>
          
          <%end%> 
        <% end %>
        
       
      </tr>
     
    <% end %>
  </tbody>
</table>

<br>
</div>
