<div class="container">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/borrows"><i class="fas fa-history"></i> All history</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/showborrow"><i class="fas fa-book-reader"></i> Borrowing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/showreturn"><i class="fas fa-exchange-alt"></i> Returned</a>
  </li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th>Book</th>
      <th>User</th>
      <th>Status</th>
      <th>Borrowed date</th>
      <th>Appointment returned date</th>
      <th>Returned date</th>
      <th>Penalty fee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borrows.each do |borrow| %>
      <tr>
        <td><%= borrow.book.name %></td>
        <td><%= borrow.user.email %></td>
        <td><%= borrow.status%></td>
        <td><%= borrow.borrowed_date%></td>
        <td><%= borrow.borrowed_date + 14%></td>
        <td><%= borrow.returned_date%></td>
        <td><%= borrow.penalty_fee%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @borrows%>
</div>
