<h1>List returned</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'Accept',admin_borrows_path,class:"nav-link"%>
  </li>
  <li class="nav-item">
     <%= link_to 'Borrowing',admin_showborrow_path,class:"nav-link"%>
  </li>
  <li class="nav-item">
     <%= link_to 'Return',admin_showreturn_path,class:"nav-link"%>
  </li>
</ul>
<div class="p-4 bg-light">
    <%= form_tag admin_borrows_path, method: 'get', class:"input-group" do %>
        <input id="borrowinput" class="form-control input-small" name="search" placeholder="Search" type="search">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">
            Search
            </button>
        </span>
    <% end %>
</div>
<table id="showreturn" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Book</th>
      <th scope="col">User</th>
      <th scope="col">Status</th>
      <th scope="col">Borrowed date</th>
      <th scope="col">Appointment returned date</th>
      <th scope="col">Returned date</th>
      <th scope="col">Penalty fee</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @borrows.each do |borrow| %>
      <tr>
        <th scope="row"><%= borrow.id %></th>
        <td><%= borrow.book.name %></td>
        <td><%= borrow.user.email %></td>
        <td><%= borrow.status %></td>
        <td><%= borrow.borrowed_date %></td>
        <td><%= borrow.borrowed_date + 14 %></td>
        <td><%= borrow.returned_date %></td>
        <td><%= borrow.penalty_fee %></td>
        <td class="px-5" style="text-align: right">
          <a href="/admin/borrows/<%=borrow.id%>" data-method="delete"><i class="fas fa-trash-alt"></i></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
 var table = $('#showreturn').DataTable({"bLengthChange": false, "sPaginationType": "full_numbers","pageLength": 10,sDom: 'lrtip'});
$('#borrowinput').keyup(function(){
      table.search($(this).val()).draw() ;
})
</script>
